.corpo {
    
    background-color: rgba(75, 233, 159, 0.789);
        
}


.quadro1 {
position: absolute ;
margin-left: 10%;
margin-right: 10%;
margin-top: 15px;
text-align: center;
color: black;
background-color: rgba(109, 115, 111, 0.659);

}
